<p><a href="game.php?village={$village.id}&amp;screen=info_player&amp;id={$report.from_user}">{$report.from_username}</a> has completed the vacation replacement for your account.</p>
<a href="game.php?village={$village.id}&amp;screen=settings&amp;mode=vacation">Holiday mode</a>